<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<body>
    <style>
        body {
            background-color: #46dac7;
        }
    </style>
    <h1>HOME</h1>
    <header>
        <% include ./partials/_header %>
    </header>
    <table>
        <thead>
            <tr>
                <th>Long URL</th>
                <th>Short URL</th>
            </tr>
        </thead>
        <tbody>
        <% if (user) {%>
            <% for (let i in urls) { %>
                <!--   for every shortid in the urls(obj) pass through shortid -->
                <tr>
                    <td>
                        <%= urls[i] %>
                    </td>
                    <td>
                        <a href=/u/<%=i%>><%=i%></a>
                    </td>
                    <td>
                        <a href='/urls/<%=i%>'>Edit</a>
                    </td>
                    <td>
                        <form method="POST" action="/urls/<%=i%>/delete">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <a href="/urls/new">Create a new Short URL</a>

    <%}%>
</body>

</html>


